@import "tailwindcss";

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --primary: 252 87% 64%;
  --primary-foreground: 0 0% 98%;

  --secondary: 217 33% 17%;
  --secondary-foreground: 0 0% 98%;

  --muted: 240 4% 16%;
  --muted-foreground: 240 5% 64.9%;

  --accent: 191 97% 77%;
  --accent-foreground: 240 5% 3.9%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --border: 240 4% 16%;
  --input: 240 4% 16%;
  --ring: 240 4% 16%;

  --radius: 0.5rem;
}


